/* Styles from the style guide provided */

:root {
    --neutral-100: hsl(0, 0%, 98%); /*Almost White*/
    --neutral-500: hsl(0, 0%, 41%); /*Medium Gray*/
    --neutral-700: hsl(0, 0%, 8%); /*Almost Black*/
}

/* Set default html font to 10px so rems are base 10 then set p font-size to 18px*/
html {
    font-size: 62.5%;
}

p {
    font-size: 1.8rem;
}

body {
    font-family: 'Epilogue', sans-serif;
}



ul li {
    list-style-type: none;
}

nav {
    margin: 0 auto;
    max-width: 980px;
    border: 1px solid #ccc;
}

nav,
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#featuresList,
#companyList {
    flex-direction: column;
    padding: 0;
}

#featuresList.hidden,
#companyList.hidden {
    display: none;
}

.main-nav-ul {
    /* flex-basis: 40%; */
}
.main-nav-ul li {
    width: 5rem;
    margin: 0 1rem;
}