/* Styles from the style guide provided */

:root {
    --neutral-100: hsl(0, 0%, 98%); /*Almost White*/
    --neutral-500: hsl(0, 0%, 41%); /*Medium Gray*/
    --neutral-700: hsl(0, 0%, 8%); /*Almost Black*/
}

/* Set default html font to 10px so rems are base 10 then set p font-size to 18px*/
html {
    font-size: 62.5%;
}

p {
    font-size: 1.8rem;
}

body {
    font-family: 'Epilogue', sans-serif;
    background: var(--neutral-100);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul li {
    list-style-type: none;
    font-size: 1.2rem;
}

nav {
    margin: 0 auto;
    max-width: 1440px;
    /* border: 1px solid #ccc;
    margin-top: 2rem; */
}

nav,
nav ul,
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown-item {
    padding: 1rem 0;
    cursor: pointer;
}

.dropdown-item img {
    display: inline-block;
    margin : 0 1rem;
}
#features, #company {
    position: relative;
}
#featuresList,
#companyList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.5rem;
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 1rem var(--neutral-500);
    color:var(--neutral-500);
    font-weight: 400;
}
#featuresList {
    width: 14rem;
    height: 18rem;
}
#companyList {
    width: 10rem;
    height: 12rem;
}
#companyList .dropdown-item {
    margin-left: 1.5rem;
}

#featuresList.hidden,
#companyList.hidden {
    display: none;
}

.nav-item {
    text-align: left;
    width: 10rem;
    margin: 0 1rem;
    cursor: pointer;
    padding: 1rem;
    color: var(--neutral-500);
}
.dropdown-item:hover, .nav-item:hover, #linksList {
    color:var(--neutral-700);
    font-weight: 700;
}
#linksList li {
    padding: 1rem;
    margin-right: 1rem;
    color:var(--neutral-500);
}
#linksList li:hover, #linksList li a:hover {
    color: var(--neutral-700);
    border-color: var(--neutral-700);
}
#linksList li+li a {
    border-radius: 10px;
    border: 1px solid var(--neutral-500);
    padding: 1rem;
}